.consultation
    padding: 40px 0
    background: linear-gradient(89.97deg, #F8F7FD 5.12%, #F2F0FF 95.31%)
    &__title
        @include flexColumn
        font-size: 21px
        color: #262626
        span
            font-family: FFGoodPro-Medium
    &__title-sub
        @include flexColumn
        font-size: 16px
        color: #454545
        letter-spacing: -0.5px
        span
            font-family: FFGoodPro-Light

span 
    text-align: center