.header 
    height: 60px
    display: flex
    align-items: center
    @media (min-width: 380px) 
        justify-content: space-around
    @media (min-width: 1200px) 
        width: 90%
        margin: 0 auto
    &__logo-wrap
        display: flex
        align-items: center
        margin-left: 10px
        @media (min-width: 700px)
            width: 160px
        @media (min-width: 1200px) 
            width: 300px
    &__logo-svg
        background: url("./sprites/svg/header-logo.svg") no-repeat
        width: 46px
        height: 23px
    &__logo-text
        color: #272727
        margin-left: 5px
        letter-spacing: -0.7px
        font-family: FFGoodPro-Medium
        font-size: 14px
        @media (min-width: 700px)
            text-align: center
    //phone
    &__phone
        padding: 10px
        border-radius: 4px
        background: #F2F5FC
        display: flex
        margin-left: 30px
        cursor: pointer
        @media (min-width: 700px)
            display: none
        &:hover
            background: #878787cc
    &__phone-svg
        width: 14px
        height: 15px
        fill: #718FDB
    // burg
    &__menu-wrap
        margin-left: 25px

.header
    &__btn-wrap
        display: none
        @media (min-width: 900px)
            display: flex
            justify-content: space-between
            width: 200px
    &__consult-btn, &__select
        outline: none !important
        border: none
        color: #336FEE
        border-radius: 5px
    &__consult-btn
        border: 1px solid #336FEE
        width: 122px
        height: 44px
        background: white
        font-family: FFGoodPro-Light
        &:hover
            background: #336FEE
            opacity: 0.7
            color: white
    &__select
        background: #DFECFC
        padding: 14px 0 11px 10px
        text-transform: uppercase
        font-family: FFGoodPro-Medium
        
